
@{
    ViewBag.Title = "Loja";
}

<h2></h2>

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="~/Imagens/james.jpeg" alt="Camisetas" />
                <div class="caption">
                    <center><h3>Camisetas</h3></center>
                    <center><p>@Html.ActionLink("Entrar", "Index", "Produtoes", null, htmlAttributes: new { @class = "btn btn-primary" })</p></center>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="~/Imagens/bonenba.jpg" alt="Bonés" />
                <div class="caption">
                    <center><h3>Bonés</h3></center>
                    <center><p>@Html.ActionLink("Entrar", "Index", "Produtobones", null, htmlAttributes: new { @class = "btn btn-primary" })</p></center>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="~/Imagens/bolanba.jpg" alt="Bolas" />
                <div class="caption">
                    <center><h3>Bolas</h3></center>
                    <center><p>@Html.ActionLink("Entrar", "Index", "Produtobolas", null, htmlAttributes: new { @class = "btn btn-primary" })</p></center>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

